---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Food & Drink">
  <div class="h-screen py-12 px-6 uppercase max-md:space-y-10 md:grid grid-cols-2 justify-items-center items-center gap-10">
    <header class="justify-self-start mt-5 z-20">
      <h1 class="font-serif text-pink text-7xl md:text-8xl lg:text-9xl text-center tracking-tighter md:text-start">Food & Drink</h1>
    </header>
    <main class="text-black uppercase text-sm md:text-base space-y-4 md:pr-14 tracking-wide max-w-lg">
      <p>
        It’s a casual affair, we’re ditching the traditional 3 course meal and opting for a relaxed standing reception (don’t worry, there’s still places to sit). We’ll be having bowls and bites during cocktail hour, followed by a charcuterie grazing table.
      </p>
      <p>
        Veggies, vegans and allergen friends, we got you, just let us know your dietary requirements.
      </p>
      <p>
        As we’re not doing the traditional wedding breakfast, we’d suggest grabbing a decent lunch on the day. No one wants to be falling over at 6pm.
      </p>
    </main>
  </div>
</StaticLayout>
