---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Food & Drink">
  <div class="pb-12 px-6 space-y-10 md:grid grid-cols-2 justify-items-start items-center md:h-full">
    <header class="justify-self-start max-md:fixed max-md:bg-white pt-12 z-20 w-11/12">
      <h1 class="font-serif text-pink text-7xl md:text-8xl lg:text-9xl uppercase text-center md:text-start lg:leading-[-2rem] tracking-tighter pt-6">Food & Drink</h1>
    </header>
    <main class="text-black uppercase text-xs md:text-base space-y-4 pr-14 tracking-wide max-md:pt-32 max-w-lg">
      <p>
        It’s a casual affair, we’re ditching the traditional 3 course meal and opting for a relaxed standing reception (don’t worry, there’s still places to sit). We’ll be having bowls and bites during cocktail hour, followed by a charcuterie grazing table.
      </p>
      <p>
        Veggies, vegans and allergen friends, we got you, just let us know your dietary requirements.
      </p>
      <p>
        As we’re not doing the traditional wedding breakfast, we’d suggest grabbing a decent lunch on the day. No one wants to be falling over at 6pm.
      </p>
    </main>
  </div>
</StaticLayout>
