---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Food & Drink">
  <div class="py-12 px-6 space-y-10">
    <header>
      <h1 class="font-serif text-pink text-7xl uppercase text-center tracking-tighter pt-6">Food & Drink</h1>
    </header>
    <main class="text-black uppercase text-xs space-y-4 tracking-wide">
      <p>
        It's a casual affair, we're ditching the traditional 3 course meal and opting for a relaxed standing reception (don't worry, there's still places to sit). we'll be having bowls and bites during cocktail hour, followed by a charcuterie grazing table.
      </p>
      <p>
        Veggies, vegans and allergen friends, we got you, just let us know your dietary requirements.
      </p>
      <p>
        As we're not doing the traditional wedding breakfast, we'd suggest grabbing a decent lunch on the day. no one wants to be falling over at 6pm.
      </p>
    </main>
  </div>
</StaticLayout>