---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Dress Code">
  <div class="pt-12  h-full uppercase">
    <header class="pt-12 pb-6 px-6 z-20 w-full">
      <h1 class="font-serif text-pink text-7xl md:text-8xl lg:text-9xl text-center tracking-tighter">Dress Code</h1>
    </header>
    <main class="text-black uppercase text-sm md:text-base space-y-4 tracking-wide text-center">
      <div class="px-7 pb-6">
        <p class="text-sm md:text-base">
          Cocktail party extravaganza.
        </p>
        <p class="text-sm md:text-base">
          Just don't wear a white dress please.
        </p>
      </div>
      <section class="flex justify-center items-center pb-6">
        <div class="relative flex items-center gap-6 snap-x snap-mandatory overflow-x-auto hide-scrollbar h-full">
          <div class="snap-center shrink-0">
            <div class="shrink-0 w-1"></div>
          </div>
          <div class="snap-center shrink-0 w-80 h-[450px] md:h-[350px]">
            <img class="w-full h-full object-cover rounded-lg shadow-xl" src="https://images.unsplash.com/photo-1569924995250-4e0efa9bfb2b?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          </div>
          <div class="snap-center shrink-0 w-80 h-[450px] md:h-[350px]">
            <img class="w-full h-full object-cover rounded-lg shadow-xl" src="https://images.unsplash.com/photo-1541532713592-79a0317b6b77?q=80&w=3088&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          </div>
          <div class="snap-center shrink-0 w-80 h-[450px] md:h-[350px]">
            <img class="w-full h-full object-cover rounded-lg shadow-xl" src="https://images.unsplash.com/photo-1655546836727-bec4387b02e2?q=80&w=3135&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          </div>
          <div class="snap-center shrink-0 w-80 h-[450px] md:h-[350px]">
            <img class="w-full h-full object-cover rounded-lg shadow-xl" src="https://images.unsplash.com/photo-1517263904808-5dc91e3e7044?q=80&w=3088&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          </div>
          <div class="snap-center shrink-0 w-80 h-[450px] md:h-[350px]">
            <img class="w-full h-full object-cover rounded-lg shadow-xl" src="https://images.unsplash.com/photo-1546472585-b51e68338cb3?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
          </div>
        </div>
      </section>
    </main>
  </div>
</StaticLayout>

<style>
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}
</style>
