---
import StaticLayout from '@layouts/StaticLayout.astro';
import { Image } from 'astro:assets';

import img_1 from '../../images/1.jpg';
import img_3 from '../../images/3.jpg';
import img_4 from '../../images/4.jpg';
import img_5 from '../../images/5.jpg';
import img_6 from '../../images/6.jpg';
import img_7 from '../../images/7.jpg';
import img_8 from '../../images/8.jpg';
import img_9 from '../../images/9.jpg';
import img_10 from '../../images/10.jpg';
import img_11 from '../../images/11.jpg';
import img_13 from '../../images/13.jpg';
import img_14 from '../../images/14.jpg';
import img_15 from '../../images/15.jpg';
import img_16 from '../../images/16.jpg';
import img_17 from '../../images/17.jpg';
import img_18 from '../../images/18.jpg';
import img_19 from '../../images/19.jpg';
import img_20 from '../../images/20.jpg';
import img_21 from '../../images/21.jpg';
import img_22 from '../../images/22.jpg';
import img_23 from '../../images/23.jpg';
import img_24 from '../../images/24.jpg';
import img_25 from '../../images/25.jpg';
import img_26 from '../../images/26.jpg';
import img_27 from '../../images/27.jpg';
import img_28 from '../../images/28.jpg';
import img_29 from '../../images/29.jpg';
import img_30 from '../../images/30.jpg';
import img_31 from '../../images/31.jpg';
import img_32 from '../../images/32.jpg';
import img_33 from '../../images/33.jpg';


const images = [img_1, img_3, img_4, img_5, img_6, img_7, img_8, img_9, img_10, img_11, img_13, img_14, img_15, img_16, img_17, img_18, img_19, img_20, img_21, img_22, img_23, img_24, img_25, img_26, img_27, img_28, img_29, img_30, img_31, img_32, img_33];
images.sort(() => Math.random() - 0.5);
---

<StaticLayout title="Dress Code">
  <div class="pt-12  h-full uppercase">
    <header class="pt-12 pb-6 px-6 z-20 w-full">
      <h1 class="font-serif text-pink text-7xl md:text-8xl lg:text-9xl text-center tracking-tighter">Dress Code</h1>
    </header>
    <main class="text-black uppercase text-sm md:text-base space-y-4 tracking-wide text-center">
      <div class="px-7 pb-6">
        <p class="text-sm md:text-base">
          Cocktail party extravaganza.
        </p>
        <p class="text-sm md:text-base">
          Just don't wear a white dress please.
        </p>
      </div>
      <section class="flex justify-center items-center pb-6">
        <div id="carouselContainer" class="relative flex items-center overflow-x-auto hide-scrollbar h-full">
          {images.map(image => {
            return (
              <div class="inline-flex">
                <div class="shrink-0 w-80 h-[450px] md:h-[350px]">
                  <Image class="w-full h-full object-cover rounded-lg shadow-xl" src={image} alt="Dress like this person" loading="eager" height="450"/>
                </div>
                <div class="shrink-0 w-6"></div>
              </div>
            );
          })}
        </div>
      </section>
    </main>
  </div>
</StaticLayout>

<script>
const scrollInterval = 30;
const stepSize = 3;
const largeScreenWidth = 992;

function initializeCarousel() {
  const carousel = document.getElementById('carouselContainer');
  
  if (!carousel) {
    console.log('No carousel found');
    return;
  };

  if (window.innerWidth >= largeScreenWidth) {
    setInterval(() => {
      carousel.scrollBy({ left: stepSize, behavior: 'smooth' });

      const firstImage = carousel.children[0];
      if (firstImage.getBoundingClientRect().right < 0) {
        carousel.appendChild(firstImage);
        carousel.scrollLeft -= firstImage.offsetWidth;
      }
    }, scrollInterval);
  }
}

window.onload = () => {
  initializeCarousel();
};
</script>

<style>
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}
</style>
