---
import HomeLayout from '@layouts/HomeLayout.astro';
---

<HomeLayout title="Evening">
  <h1 slot="header" class="h-full text-center text-white font-serif md:absolute md:inset-0 flex items-end justify-center text-[11rem] md:text-[23.5rem] lg:top-[7rem] lg:text-[31rem] xl:top-[14rem] xl:text-[40rem] -z-10">
    H&G
  </h1>
  <section slot="main" class="pt-5 gap-10 flex items-start justify-evenly flex-wrap">
    <a href="where" class="font-sans uppercase text-sm md:text-xl tracking-[0.1rem] md:tracking-[0.3rem] border-[0.25rem] text-white border-white hover:bg-white hover:text-black transition-colors rounded-full px-5 py-1">
      Where is it
    </a>
    <a href="faq" class="font-sans uppercase text-sm md:text-xl tracking-[0.1rem] md:tracking-[0.3rem] border-[0.25rem] text-white border-white hover:bg-white hover:text-black transition-colors rounded-full px-5 py-1">
      FAQ
    </a>
  </section>
</HomeLayout>