---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Home" background="bg-pink">
  <main class="h-full text-center text-white uppercase text-xs flex flex-col justify-center items-center gap-5 px-16 tracking-wide">
    <p>
      We're getting the legal bit out the way with just our closest family earlier in the day. all you need to do is dress up, drink cocktails and dance with us all night long.
    </p>
    <p>
      Make your way to the hoxton southwark 12th floor for 3pm, and prepare to welcome the baddest husband and wife duo in town.
    </p>
    <p>
      There'll be drinks, dancing, and nibbles. the party goes on till 1am. we're all about the french exit, no need to say goodbye, we'll catch you soon.
    </p>
    <p>
      Sorry, no kids. it’s a grown-up party, and we want everyone to be able to buy us a drink.
    </p>
  </main>
</StaticLayout>