---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Help">
  <div class="h-full flex flex-col justify-center gap-10 py-12 px-6">
    <header>
      <h1 class="font-serif text-pink text-7xl uppercase text-center tracking-tighter pt-6">Help</h1>
    </header>
    <main class="text-black uppercase text-xs text-center tracking-wide flex flex-col gap-6">
      <p class="px-10">
        If you're having issues drop us an email. let us know if your coming or if you have any questions
      </p>
      <a href="mailto:help@harrietandgeorge.co.uk">help@harrietandgeorge.co.uk</a>
    </main>
    <button id="backBtn" class="back-button fixed bottom-6 left-6">
      <span class="text-black uppercase tracking-widest text-sm">Back</span>
    </button>
  </div>
</StaticLayout>

<script type="module">
const backBtn = document.getElementById('back-button');
if (!backBtn) throw new Error('No back button found');

backBtn.addEventListener('click', () => {
  window.history.back();
});
</script>