---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Help" showNav={false}>
  <div class="h-full flex flex-col justify-center gap-10 py-12 px-6">
    <header>
      <h1 class="font-serif text-pink text-[3.9rem] md:text-[6rem] lg:text-[7.5rem] uppercase text-center tracking-tighter pt-6">Help</h1>
    </header>
    <main class="text-black uppercase text-xs text-center tracking-wide flex flex-col gap-6">
      <p class="px-10 text-sm md:text-base">
        If you're having issues drop us an email. let us know if you're coming or if you have any questions
      </p>
      <a href="mailto:help@harrietandgeorge.co.uk" class="text-sm md:text-base">help@harrietandgeorge.co.uk</a>
    </main>
    <button id="back-button" class="back-button fixed bottom-6 left-6 text-black uppercase tracking-widest text-sm">
      Back
    </button>
  </div>
</StaticLayout>

<script type="module">
function addBackBtnListener() {
  const backBtn = document.getElementById('back-button');

  if (!backBtn) return;

  backBtn.addEventListener('click', () => {
    window.history.back();
  });
}

addBackBtnListener();
</script>