---
import DefaultLayout from '@layouts/DefaultLayout.astro';
---

<DefaultLayout title="Help">
  <header class="h-1/2 flex items-end justify-center pb-3">
    <h1 class="font-serif uppercase text-pink text-[10rem] text-center">Help</h1>
  </header>
  <section class="h-1/2 space-y-14 uppercase text-center  px-4 md:text-xl tracking-[0.15rem] md:tracking-[0.4rem]">
    <div class="space-y-3">
      <p>If you're having issues drop us an email.</p>
      <p>Let us know if you're coming or if you have anny questions</p>
    </div>
    <p>help@harrietandgeorge.co.uk</p>
  </section>
</DefaultLayout>