---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Help">
  <h1 slot="header" class="font-serif uppercase text-pink text-[10rem]">Help</h1>
  <section slot="main">
    Help Help Help Help Help Help Help
  </section>
</StaticLayout>