---
import StaticLayout from '@layouts/StaticLayout.astro';

const timelineEntries = [
  {
    time: '15:00',
    event: 'Guests Arrive'
  },
  {
    time: '15:30',
    event: 'Welcome the Newly Weds'
  },
  {
    time: '16:00',
    event: 'Cocktail Hour / Speeches'
  },
  {
    time: '16:30',
    event: 'Bowls/Bites'
  },
  {
    time: '18:00',
    event: 'Grazing Table'
  },
  {
    time: '19:00',
    event: 'Cut Cake'
  },
  {
    time: '19:30',
    event: 'First Dance'
  },
  {
    time: '20:00',
    event: 'Evening Guests Arrive'
  },
  {
    time: '21:00',
    event: 'Pass Out'
  },
  {
    time: '22:00',
    event: 'Second Breakfast'
  }
];
---

<StaticLayout title="Itineray" >
  <div class="py-12 px-6 lg:py-6 space-y-6 md:grid grid-cols-2 justify-items-center items-center md:h-full gap-10">
    <header class="justify-self-start">
      <h1 class="font-serif text-pink text-7xl md:text-8xl lg:text-9xl uppercase text-center tracking-tighter pt-6">Itinerary</h1>
    </header>
    <main class="text-black uppercase text-xs tracking-wide h-full w-fit overflow-y-scroll hide-scrollbar lg:pb-10">
      {timelineEntries.map((entry, index) => (
        <article 
          class={`${index === timelineEntries.length - 1 ? 'before:h-1/2' : 'before:h-full'} relative grid before:content-[''] ml-12 before:block before:absolute before:left-[-25px] before:border-l before:border-pink pt-3 md:pt-6`}
        >
          <div class="relative">
            <div class="sticky top-24">
              <h2 class="text-pink font-serif text-3xl md:text-4xl">
              { entry.time }
              </h2>
              <h3>
                { entry.event }
              </h3>
              </div>
              <div class="absolute bg-white z-10 left-[-28px] top-[15px]">
                <div class="bg-pink w-2 h-2 rounded-full" />
              </div>
          </div>
        </article>
      ))}
    </main>
  </div>
</StaticLayout>

<style>
  .hide-scrollbar::-webkit-scrollbar {
      display: none;
  }
  
  .hide-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
  </style>
