---
import StaticLayout from '@layouts/StaticLayout.astro';

const MAPS_API_KEY = import.meta.env.GOOGLE_MAPS_API_KEY;
---
<StaticLayout title="Where">
  <h1 slot="header" class="font-serif uppercase text-pink text-[10rem]">Where</h1>
  <section slot="main" class="h-full flex flex-col justify-between md:px-5 lg:px-32">
    <div>
      <h2 class="uppercase text-2xl tracking-[0.35rem]">40 Blackfriars Road, London, SE1 8NY</h2>
    </div>
    <!-- <iframe
      width="600"
      height="300"
      style="border:0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src=`https://www.google.com/maps/embed/v1/place?key=${MAPS_API_KEY}&q=The+Hoxton,+Southwark`>
    </iframe> -->
    <p class="uppercase tracking-[0.3rem]">Harriet & George will be married in a small ceremony earlier in the day and will meet you all at the hoxton southwark</p>
  </section>
</StaticLayout>