---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="Not Found">
  <div class="flex flex-col h-full w-full justify-center items-center gap-10">
    <h1 class="text-9xl text-pink font-serif text-center">404</h1>
    <a href="/home" class="cursor-pointer font-sans uppercase text-sm md:text-xl tracking-[0.05rem] md:tracking-[0.3rem] border-[0.1rem] md:border-[0.25rem] border-black hover:bg-black bg-white hover:text-white transition-colors rounded-full px-5 py-3">
        Go Back
    </a>
  </div>
</DefaultLayout>
