---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="Not Found">
  <div class="flex flex-col h-full w-full justify-center items-center gap-10 p-4">
    <h2 class="text-lg md:text-2xl text-black text-center uppercase">404
    <h1 class="text-6xl md:text-8xl text-pink font-serif text-center uppercase">Page not found</h1>
  </div>
</DefaultLayout>
