---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import IntroProcess from '@components/IntroProcess.vue';
---

<DefaultLayout title="Astro Bridal Base">
	<div class="h-screen">
		<IntroProcess client:load />
	</div>
</DefaultLayout>
