---
import Layout from '@layouts/Layout.astro';
import IntroProcess from '@components/IntroProcess.vue';
---

<Layout title="Astro Bridal Base">
	<div class="h-screen">
		<IntroProcess client:load />
	</div>
</Layout>
