---
import Layout from '../layouts/Layout.astro';
import FormMain from '../components/organisms/FormMain.vue';
---

<Layout title="Astro Bridal Base">
	<div class="h-screen">
		<FormMain client:load />
	</div>
</Layout>
