---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="Dinner">
  <h1 slot="header" class="font-serif uppercase text-pink text-[10rem]">Dinner</h1>
  <section slot="main">
    <img class="p-6" src="/images/inbetweeners.jpeg" alt="Food">
  </section>
</StaticLayout>