---
import Layout from '@layouts/Layout.astro';
import RsvpForm from '@components/RsvpForm.vue';
---

<Layout title="Astro Bridal Base">
  <div class="h-screen">
    <RsvpForm client:only="vue" />
  </div>
</Layout>
