---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import RsvpForm from '@components/RsvpForm.vue';
---

<DefaultLayout title="Astro Bridal Base">
  <div class="h-screen">
    <RsvpForm client:load />
  </div>
</DefaultLayout>
