---
import StaticLayout from '@layouts/StaticLayout.astro';
import RsvpForm from '@components/RsvpForm.vue';
---

<StaticLayout title="RSVP">
  <div>
    <RsvpForm client:only="vue" />
  </div>
</StaticLayout>
