---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="More Information">
  <div class="py-12 px-6 space-y-10 uppercase md:grid grid-cols-2 justify-items-center items-center md:h-full gap-10">
    <header class="justify-self-start">
      <h1 class="font-serif text-pink text-7xl md:text-8xl lg:text-9xl text-center tracking-tighter pt-6 md:text-start">More Info</h1>
    </header>
    <main class="space-y-5 max-w-md">
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Where
        </h1>
        <p class="text-black uppercase text-sm md:text-base [&_a]:underline underline-offset-2">
          We're getting married at <a href="https://thehoxton.com/london/southwark/" target="_blank">The Hoxton Southwark</a>
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Getting Around
        </h1>
        <p class="text-black uppercase text-sm md:text-base [&_a]:underline underline-offset-2">
          <a href="https://apps.apple.com/gb/app/citymapper-live-transport/id469463298" target="_blank">City Mapper</a> | <a href="https://apps.apple.com/us/app/uber-request-a-ride/id368677368" target="_blank">Uber</a>
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Closest Stations
        </h1>
        <p class="text-black uppercase text-sm md:text-base">
          Waterloo and London Bridge stations - 10 min walk
        </p>
        <p class="text-sm md:text-base">
          Southwark Tube (Jubilee Line)
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Where to Stay
        </h1>
        <p class="text-black uppercase text-sm md:text-base">
          You can get a discount on a stay at The Hoxton using the code below, or stay at the nearby <a href="https://all.accor.com/hotel/7943/index.en.shtml">Ibis</a> or <a href="https://all.accor.com/hotel/7942/index.en.shtml">Novotel</a>.
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Hoxton discount code
        </h1>
        <p class="text-black uppercase text-sm md:text-base">
          <span class="italic">HITCHED0224</span> for 15% off
        </p>
      </div>
    </main>
  </div>
</StaticLayout>
