---
import StaticLayout from '@layouts/StaticLayout.astro';
---

<StaticLayout title="More Information">
  <div class="py-12 px-6 space-y-10 uppercase md:grid grid-cols-2 justify-items-center items-center md:h-full gap-10">
    <header class="justify-self-start">
      <h1 class="font-serif text-pink text-7xl md:text-8xl lg:text-9xl text-center tracking-tighter pt-6 md:text-start">More Info</h1>
    </header>
    <main class="space-y-5">
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Where
        </h1>
        <p class="text-black uppercase space-y-4 tracking-wider">
          xxxxxx xxxxxxxxxxxx xxxx xxxxx
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Room booking/code
        </h1>
        <p class="text-black uppercase space-y-4 tracking-wider">
          xxxxxx xxxxxxxxxxxx xxxx xxxxx
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Getting Around
        </h1>
        <p class="text-black uppercase space-y-4 tracking-wider">
          City Mapper | Uber
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Closest Stations
        </h1>
        <p class="text-black uppercase space-y-4 tracking-wider">
          xxxxxx xxxxxxxxxxxx xxxx xxxxx
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Where to Stay
        </h1>
        <p class="text-black uppercase space-y-4 tracking-wider">
          xxxxxx xxxxxxxxxxxx xxxx xxxxx
        </p>
      </div>
      <div>
        <h1 class="font-serif text-pink text-4xl tracking-tighter">
          Where to Park
        </h1>
        <p class="text-black uppercase space-y-4 tracking-wider">
          xxxxxx xxxxxxxxxxxx xxxx xxxxx
        </p>
      </div>
    </main>
  </div>
</StaticLayout>
